.menu{
    background: #00a2e8;
    padding-left: 80px;
}
.container{
    margin-top: 20px;
}

#delete{
    background-color:transparent;
    color: #000000;
}

#update{
    background-color:transparent;
    color: #000000;
}
.resposta{
    background-color: #ffff00;
    font-size: 30px;
}