<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Cadastro de Tarefas</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style/style.css"/>
</head>
<body>

<header>
    <nav class="menu">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Cadastro de Tarefas</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/registros" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Listar
                    Tarefas</a></li>
            </ul>
        </div>
    </nav>

</header>


<!--Formulario para inserção dos dados-->
<form class="container" method="post">
    <p ><th:block th:include="mensagemValidacao"></th:block></p>
    Data:<input type="date" value="" name="data">
    Descricao:<input type="text" value="" name="descricao">
    Usuário:<input type="text" value="" name="usuario">
    <button class="waves-effect waves-light btn" type="submit">Adicionar Tarefa</button>
</form>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>


</html>