<!DOCTYPE html>
<html lang="pt-br">
<html>
<head>
    <title>Contass</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style/style.css"/>

</head>
<body>
<header>
    <nav class="menu">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Contass</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/cadastrarTarefa" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar
                    Tarefa</a></li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>